body {
  display: flex;
  flex-wrap: wrap;
}

.container {
  background-image: url('/dnd-spell-card-generator/assets/img/parchment.jpg');
  background-size: 510px auto;
  padding: 5px;
  width: 500px;
  height: 348px;
}



.stat-table {
  width: 100%;
  .col1{
    width: 90px;
  }
  .col2 {
    width: 150px;
  }
  .col3 {
    width: 60px;
  }
  .col4 {
    width: 200px;
  }
}

.line-small {
  height: 2px;
}

.line-big {
  height: 3px;
}

.fade-effect2 {
  display: block;
  border: none;
  color: white;
  background: black;
  background: -webkit-gradient(radial, 1% 1%, 0, 50% 50%, 350, from(#630000), to(rgba(0, 0, 0, 0)));
}
