<div class="container">
  <h1 class="dnd-header">{{spellcard.titel}}</h1>
  <div class="fade-effect2 line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>{{spellcard.zeitaufwand}}</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>{{spellcard.reichweite}}</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>{{spellcard.komponenten}}</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>{{spellcard.wirkungsdauer}}</td>
    </tr>
  </table>
  <div class="fade-effect2 line-small"></div>

  <p class="dnd-text">{{spellcard.beschreibung}}</p>
</div>
