@font-face {
  font-family: 'Bookinsanity';
  src: url('/assets/fonts/Bookinsanity/Bookinsanity.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Bookinsanity Bold';
  src: url('/assets/fonts/Bookinsanity/Bookinsanity Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mr Eaves Small Caps';
  src: url('/assets/fonts/Mr Eaves/Mr Eaves Small Caps.otf') format('opentype');
  font-weight: normal;
}

body {
  display: flex;
  flex-wrap: wrap;
}

.container {
  background-image: url('/assets/img/parchment.jpg');
  background-size: 510px auto;
  padding: 5px;
  width: 500px !important;
  height: 348px;
}

.dnd-header {
  color: #630000;
  font-family: "Bookinsanity", serif;
  margin: 0;
}

.dnd-text {
  font-family: "Bookinsanity", serif;
  margin: 0;
  font-size: 11px;
}

.line-small {
  height: 2px;
}

.line-big {
  height: 3px;
}

.fade-effect2 {
  display: block;
  border: none;
  color: white;
  background: black;
  background: -webkit-gradient(radial, 1% 1%, 0, 50% 50%, 350, from(#630000), to(rgba(0, 0, 0, 0)));
}
