<div class="popup-container centered" *ngIf="!popupClosed">
  <button class="close-btn" (click)="closePopup()">
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>

  <app-home></app-home>
  <select name="klasse" #classSelect (change)="changeSelectedClass(classSelect.value)" class="animated-button3 no-margin-sides-button">
    <option value="0">Alle</option>
    <option value="Artificer">Artificer</option>
    <option value="Barde">Barde</option>
    <option value="Druide">Druide</option>
    <option value="Hexenmeister">Hexenmeister</option>
    <option value="Kleriker">Kleriker</option>
    <option value="Magier">Magier</option>
    <option value="Paladin">Paladin</option>
    <option value="Waldläufer">Waldläufer</option>
    <option value="Zauberer">Zauberer</option>
  </select>
  <br>
  <div class="animated-button3 no-margin-sides-button" (click)="changeSelectAll()" *ngIf="spellCardService.spellcards.length > 0">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    {{showAll ? 'Alle Abwählen' : 'Alle Selektieren'}}
  </div>
  <table>
    <tr *ngFor="let spellcard of this.spellCardService.spellcards; let i = index">
      <td>
        {{spellcard.name}}
      </td>
      <td>
        <input type="checkbox" [(ngModel)]="spellcard.show">
      </td>
    </tr>
  </table>
</div>
