.popup-container {
  width: 55vw;
  height: 50vh;
  background-image: url('/dnd-spell-card-generator/assets/img/parchment.jpg');
  background-size: auto;
  padding: 10px;
  overflow-y: scroll;
  border: solid #630000;
  border-radius: 5px;
}

.popup-container::-webkit-scrollbar {
  display: none;
}

.centered {
  position: fixed;
  top: 10em;
  left: 10em;
  /* bring your own prefixes */
}

.close-btn {
  border: none;
  background: none;
  position: fixed;
  top: 5px;
  right: 5px;
}

.no-margin-sides-button {
  margin: 10px 0;
}

.form-table {
  width: 100%;
  tr {
    width: 25%;
  }
}

.form-label {
  font-size: 20px;
}

.icon-button:hover {
  font-size: 14px;
  cursor: pointer;
}
