<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>36m</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>Unmittelbar</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Du schleuderst einen Splitter aus Feuer auf eine Kreatur in
    Reichweite. Führe einen Fernkampf-Zauberangriff gegen das
    Ziel aus. Bei einem Treffer erleidet es 1W10 Feuerschaden.
    Ein brennbarer Gegenstand, der von diesem Zauber getroffen
    wird, geht in Flammen auf, falls er nicht getragen oder in der
    Hand gehalten wird.
    Der Schaden dieses Zaubers steigt jeweils um 1W10 bei
    Erreichen der 5. (2W10), 11. (3W10) und 17. Stufe (4W10).</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>36m</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>Unmittelbar</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Du schleuderst einen Splitter aus Feuer auf eine Kreatur in
    Reichweite. Führe einen Fernkampf-Zauberangriff gegen das
    Ziel aus. Bei einem Treffer erleidet es 1W10 Feuerschaden.
    Ein brennbarer Gegenstand, der von diesem Zauber getroffen
    wird, geht in Flammen auf, falls er nicht getragen oder in der
    Hand gehalten wird.
    Der Schaden dieses Zaubers steigt jeweils um 1W10 bei
    Erreichen der 5. (2W10), 11. (3W10) und 17. Stufe (4W10).</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>36m</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>Unmittelbar</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Du schleuderst einen Splitter aus Feuer auf eine Kreatur in
    Reichweite. Führe einen Fernkampf-Zauberangriff gegen das
    Ziel aus. Bei einem Treffer erleidet es 1W10 Feuerschaden.
    Ein brennbarer Gegenstand, der von diesem Zauber getroffen
    wird, geht in Flammen auf, falls er nicht getragen oder in der
    Hand gehalten wird.
    Der Schaden dieses Zaubers steigt jeweils um 1W10 bei
    Erreichen der 5. (2W10), 11. (3W10) und 17. Stufe (4W10).</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
<div class="container">
  <h1 class="dnd-header">Feuerpfeil</h1>
  <div class="post-title-line post-line-big"></div>

  <table class="dnd-text">
    <tr>
      <td>Zeitaufwand: </td>
      <td>1 Aktion</td>
    </tr>
    <tr>
      <td>Reichweite:</td>
      <td>Selbst</td>
    </tr>
    <tr>
      <td>Komponenten:</td>
      <td>V, G</td>
    </tr>
    <tr>
      <td>Wirkungsdauer:</td>
      <td>1 Minute</td>
    </tr>
  </table>
  <div class="post-title-line post-line-small"></div>

  <p class="dnd-text">Während der Wirkungsdauer dieses Zaubers darfst du am Ende
    eines jeden deiner Züge mit einem W20 würfeln. Bei einem
    Ergebnis von 11 oder höher verschwindest du von deiner augenblicklichen Existenzebene und erscheinst auf der Ätherebene
    (der Zauber misslingt und ist vergeudet, wenn du dich bereits
    auf dieser befindest). Zu Beginn deines nächsten Zuges und
    wenn der Zauber endet, solange du dich auf der Ätherebene
    aufhältst, kehrst du in einen nicht besetzten Bereich deiner
    Wahl zurück, den du sehen kannst und der sich innerhalb von
    1,50 m zu dem Punkt befindet, von dem du verschwunden bist.
    Ist kein unbesetzter Bereich in dieser Reichweite verfügbar,
    kehrst du an den nächsten nicht besetzten Bereich zurück
    (zufällig bestimmt, wenn mehr als ein Bereich zur Auswahl
    stehen). Du kannst den Zauber als Aktion beenden.
    Solange du dich auf der Ätherebene befindest, kannst du
    die Ebene, von der du gekommen bist, sehen und hören.
    Allerdings ist sie nur in Grautönen zu erkennen und deine
    Sicht reicht nicht weiter als 18 m. Außerdem kannst du nur
    Kreaturen beeinflussen oder von ihnen beeinflusst werden,
    die sich ebenfalls auf der Ätherebene aufhalten, Kreaturen auf
    einer anderen Ebene können dich weder wahrnehmen noch mit
    dir interagieren, es sei denn, eine Spezialfähigkeit oder Magie
    erlaubt es ihnen.</p>
</div>
